[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = ZiadAly
	email = 36304317+ZiadAly@users.noreply.github.com
